In [1]:
from shutil import copyfile
from pathlib import Path

import pandas as pd
import numpy as np

In [8]:
root = Path('.')
train_file_path = root / 'train.txt'
test_file_path = root / 'test.txt'
data_file_path = root / 'data'

train_folder_path = root / 'train'
test_folder_path = root / 'test'
train_folder_path.mkdir(exist_ok=True)
test_folder_path.mkdir(exist_ok=True)


ext = ['.jpg', '.txt']

In [9]:
with open(train_file_path, 'r') as reader:
    train_files = reader.read()

In [ ]:
train_files = train_files.split("\n")
train_files

In [11]:
copyfile(data_file_path / (train_files[0] + ".jpg"), train_folder_path / (train_files[0] + ".jpg"))

PosixPath('train/CDY_2031.jpg')

In [12]:
with open(train_file_path, 'r') as reader:
    files = reader.read()
    files = files.split("\n")
    for f in files:
        if f == '':
            continue
        for e in ext:
            name = f + e
            copyfile(data_file_path / name, train_folder_path / name)

In [13]:
with open(test_file_path, 'r') as reader:
    files = reader.read()
    files = files.split("\n")
    for f in files:
        if f == '':
            continue
        for e in ext:
            name = f + e
            copyfile(data_file_path / name, test_folder_path / name)

In [14]:
with open(train_file_path, 'r') as reader:
    files = reader.read()
    files = files.split("\n")
    files_dontcare = [f for f in files if "CDY" in f]

files_dontcare.sort()

path_dontcare = train_file_path.parent / (train_file_path.stem + "_dontcare.txt")
with open(path_dontcare, 'w') as writer:
    for file in files_dontcare:
        writer.write(f"{file}\n")

In [18]:
#train_file_path.parent / (train_file_path.stem + "_dontcare.txt")

PosixPath('dataset/wgisd/train_dontcare.txt')

In [2]:
root = Path("train-dontcare").resolve()

In [52]:
for p in root.glob("*.txt"):
    print(p)
    break

/home/tarsio/private/wgisd/train-dontcare/CDY_20180427_153201477_BURST000_COVER_TOP.txt

In [112]:
data = pd.read_csv(p, header=None, sep=" ")
data

   0         1         2         3         4
0  0  0.097656  0.573626  0.084961  0.193407
1 -1  0.325928  0.434432  0.086426  0.224176
2 -1  0.362793  0.545055  0.062500  0.178755
3 -1  0.443115  0.564469  0.110840  0.198535
4 -1  0.705078  0.336630  0.142578  0.122344
5 -1  0.647949  0.447619  0.065430  0.183150
6 -1  0.731201  0.484982  0.107910  0.155311

In [113]:
data[0] = -1
data

   0         1         2         3         4
0 -1  0.097656  0.573626  0.084961  0.193407
1 -1  0.325928  0.434432  0.086426  0.224176
2 -1  0.362793  0.545055  0.062500  0.178755
3 -1  0.443115  0.564469  0.110840  0.198535
4 -1  0.705078  0.336630  0.142578  0.122344
5 -1  0.647949  0.447619  0.065430  0.183150
6 -1  0.731201  0.484982  0.107910  0.155311

In [114]:
np.random.randint(len(data))

4

In [115]:
data.loc[np.random.randint(len(data), size=2), 0] = 0

In [116]:
data

   0         1         2         3         4
0 -1  0.097656  0.573626  0.084961  0.193407
1  0  0.325928  0.434432  0.086426  0.224176
2  0  0.362793  0.545055  0.062500  0.178755
3 -1  0.443115  0.564469  0.110840  0.198535
4 -1  0.705078  0.336630  0.142578  0.122344
5 -1  0.647949  0.447619  0.065430  0.183150
6 -1  0.731201  0.484982  0.107910  0.155311

In [85]:
data.to_csv(p, header=False,  sep=" ", float_format='%.6f', index=False)

In [86]:
p

PosixPath('/home/tarsio/private/wgisd/train-dontcare/CDY_20180427_153201477_BURST000_COVER_TOP.txt')

In [2]:
root = Path("train-dontcare").resolve()
for p in root.glob("*.txt"):
    data = pd.read_csv(p, header=None, sep=" ")
    data[0] = 0
#     data.loc[np.random.randint(len(data), size=2), 0] = -1
    data.to_csv(p, header=False,  sep=" ", float_format='%.6f', index=False)